<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <style media="screen">
      .body {
        background-image: linear-gradient(
          135deg,
          rgb(44, 83, 100) 0%,
          rgb(32, 58, 67) 50%,
          rgb(15, 32, 39) 100%
        );
      }
      .jumbotron {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .jumbotron h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    {% include "quiz/navbar.html" %}
    <br /><br />
    <div class="jumbotron body" style="margin-bottom: 0px; height: 100vh;">
      <h1 class="display-4" style="color: beige">Hello, Student</h1>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-top: 100px;
        "
      >
        <p class="lead" style="color: beige">Welcome to Quiznado</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="studentsignup" role="button"
            >Create Your Account</a
          >
          <a class="btn btn-primary btn-lg" href="studentlogin" role="button"
            >Login</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
