<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="container container-fluid" style="height: 100vh; background-color: rgb(255, 255, 255);" class="jumbotron d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-warning">Quiznado</h1>
    <p class="display-4 d-none d-sm-block">Become a master with us.</p>

    <a href="/student/studentsignup" class="btn btn-lg btn-primary" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
    
    <br><br><br>
  </div>  
</section>


</body>

</html>
